.scheduling-img-banner {
    height: 700px;
}

.mt2pc {
    margin-top: 2% !important;
}

.logo-style {
    max-width: 25% !important;
    width: 25%;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}